@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

:root{
    --darkBlue: #012e40;
    --darkBlueGreen: #024959;
    --BlueGreen: #026773;
    --LightBlueGreen: #3CA6a6;
    --LightGrey: #F2e3d5; 
}

*, html, body{
    padding: 0px;
    margin: 0px;
}

.pageTitle{
    text-align: center;
    font-family: 'Oswald', 'Courier New', Courier, monospace;
    color: white;
}

.checkbtn img{
    width: 50px;
    filter: invert(100%);
    float: right;
    margin-top: 20px;
    margin-right: 10px;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
}

body{
    background: linear-gradient(to bottom, var(--darkBlue), var(--LightGrey));
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header nav{
    /* display: grid; */
    width: 100%;
    /* background-color: aliceblue; */
    height: 80px;
    vertical-align: middle;
}

nav img{
    max-width: 80px;
    /* position: fixed; */
    position: static;
    padding-left: 5%;
    padding-top: 1%;
    margin-top: 10px;
}

nav ul{
    /* display: flex;
    flex-direction: row-reverse; */
    float: right;
    padding-right: 5%;
    padding-top: 1.5%;
    z-index: 1;
}

nav ul li{
    list-style: none;
    display: inline-block;
    padding: .5em;
}

nav ul li a{
    color: #fff;
    text-decoration: none;
    font-family: 'Poppins';
}

nav ul li a:hover{
    font-weight: 800;
    padding-left: 10px;
    padding-right: 10px;
    transition: 0.2s ease-in-out;
}

.active{
    font-weight: 800;
}


/* to be used in other nav's pages */
.navActive{
    color: #fff;
}


.hero{
    /* testing grid display */
    /* display: grid;
    grid-template-columns: 1fr 1fr; */
    /* background-color: var(--LightBlueGreen); */
    margin-top: 3em;
    padding-left: 5%;
    height: 80vh;
}

.hero h1{
    font-family: 'Oswald';
    font-size: 90px;
    /* margin-right: .1em; */
    color: #fff;
}

.hero h1:hover{
    -webkit-text-stroke: 2px #fff;
    color: transparent;
    transition: 0.2s ease-in;
}

#homePic{
    position: absolute;
    right: 0;
    /* bottom: 0; */
    z-index: -1;
}

footer{
    color: var(--LightGrey);
    font-family: 'Poppins';
    background-color: var(--darkBlue);
    width: 100%;
    margin-top: auto;
    box-sizing: border-box;
}

footer .icons{
    padding-top: auto;
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding-bottom: 1.2%;
}

footer .copy{
    text-align: center;
    padding: 1em;
}

footer img{
    width: 25px;
    filter: invert(100%);
    padding-right: .5em;
}

footer img:hover{
    width: 30px;
    transition: 0.3s ease-in-out;
}

.icons a{
    color: var(--darkBlue);
}

.aboutContainer{
    /* display: block; */
    margin-top: 3rem;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    align-items: center;
    justify-content: center;
    /* height: 40vh; */
}

.mainContainerContact{
    margin-top: 3rem;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.sectionContact{
    background-color: var(--LightBlueGreen);
    box-sizing: content-box;
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 70vh;
    align-items: center;
    justify-content: center;
    text-align: center;
    justify-items: center;
    font-family: 'Poppins', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.sectionContact a{
    text-decoration: none;
    color: white;
    padding: 10px;
    background-color: var(--darkBlueGreen);
    border-radius: 10px;
}

.aboutCardContainer{
    background-color: var(--LightGrey);
    box-sizing: content-box;
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 70vh;
    align-items: center;
    justify-content: center;
    text-align: center;
    justify-items: center;
    font-family: 'Poppins', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.aboutCardContainer ul li{
    list-style: none;
    display: inline-block;
}

.aboutSectioncontainer{
    position: inherit;
    padding: 30px;
    box-sizing: border-box;
}

aboutSectioncontainer p{
    margin: 1em;
}

.aboutMeUnderline{
    width: 60%;
    height: .2em;
    background-color: #012e40;
}

.aboutMeUnderline:hover{
    width: 80%;
    transition: 0.3 all ease-in-out;
}

#aboutMeTitle:hover{
    color: var(--LightBlueGreen);
    transition: 0.3 all ease-in-out;
    margin-bottom: 5px;
}

.blogContainer{
    background-color: #F2e3d5;
    opacity: 60%;
    /* height: 190vh; */
    margin: 6%;
    border-radius: 30px;
    font-family: 'Poppins', 'Courier New', Courier, monospace;
    box-sizing: content-box;
}

.blogContainer .Date{
    padding-top: 3em;
    padding-right: 6em;
    float: right;
}

.blogContainer .Title{
    padding-top: 1.5em;
    text-align: center;
}

.blogContent{
    position: inherit;
    padding: 50px;
}

.front-end ul li img, .back-end ul li img, .others ul li img{
    max-width: 50px;
    max-height: 50px;
    margin: 0px, 30px;
    padding: 10px;
    background-color: #989898;
}

.resumeContainer{
    display: block;
    margin-top: 0px;
    text-align: center;
    font-family: 'Poppins', 'Courier New', Courier, monospace;
    height: 13vh;
    margin-bottom: 5em;
}

.resumeContainer h3{
    margin-bottom: 1em;
}

.resumeContainer a{
    text-decoration: none;
    color: white;
    padding: 10px;
    background-color: var(--LightBlueGreen);
}

.resumeContainer a:hover{
    transition: 0.3s all ease-in-out;
    padding: 12px;
}

.containerAccomplishments{
    font-family: 'Poppins', 'Courier New', Courier, monospace;
    display: flex;
    justify-content: center;
    margin-bottom: 1em;
    flex-wrap: wrap;
    height: 120vh;
}

.card{
    background: var(--LightGrey);
    width: 220px;
    height: 480px;
    margin: 1em;
    border-radius: 15px;
}

.card:hover{
    background: var(--darkBlueGreen);
    transition: all 0.3s ease-in-out;
    color: var(--LightGrey);
    transform: scale(1.03);
}

.card h2{
    text-align: center;
}

.card a{
    background-color: black;
    color: white;
    padding: 15px 20px;
    display: block;
    text-align: center;
    border-radius: 0px 0px 15px 15px;
    text-decoration: none;
}

.card p{
    padding: 10px;
}

.card-image{
    height: 150px;
    margin-bottom: 15px;
    background-size: cover;
    border-radius: 15px 15px 0px 0px;
}

.card-1{
    background-image: url('../images/accomplishments/Plate\ 3.JPG');
}

.card-2{
    background-image: url('../images/accomplishments/2.png');
}

.card-3{
    background-image: url('../images/accomplishments/3.jpg');
}

.card-4{
    background-image: url('../images/accomplishments/4.jpg');
}

.card-5{
    background-image: url('../images/accomplishments/5.jpg');
}

.card-6{
    background-image: url('../images/accomplishments/6.jpg');
}

.card-7{
    background-image: url('../images/accomplishments/7.png');
}


/* responsive */
/* tablet */
@media screen and (max-width: 768px){
    .checkbtn{
        display: block;
    }
    .checkbtn img{
        display: block;
    }
    nav img{
        max-width: 60px;
    }
    nav ul{
        /* display: none; */
        position: fixed;
        width: 100%;
        height: 100vh;
        background: var(--LightBlueGreen);
        top: 80px;
        left: 0;
        text-align: center;
        transition: 0.3s ease-in-out;
    }
    nav ul li{
        display: block;
    }
    #check:checked ~ ul{
        /* left: 0; */
        display: none;
        transition: 0.3s ease-in-out;
        z-index: 2;
    }
    .hero{
        flex-direction: column;
        /* justify-content: center; */
        align-items: center;
    }
    .hero h1{
        margin-right: 0em;
        font-size: 40px;
    }

    .mainContainerContact{
        flex-direction: column;
        width: 100%;
        margin-bottom: 0px;
    }

    .sectionContact{
        width: 100%;
    }

    .aboutContainer{
        flex-direction: column;
        width: 100%;
        margin-bottom: 0px;
    }

    .aboutCardContainer{
        width: 100%;
    }
    .aboutMeUnderline{
        margin-bottom: 1%;
    }
}

/* responsive */
/* smartphone */

@media screen and (max-width: 450px){
    .blogContainer .Date{
        padding-right: .5em;
        font-size: 10px;
    }
    blogContent{
        font-size: 10px;
    }
    .aboutMeUnderline{
        margin-bottom: .1%;
    }
    .aboutContainer{
        flex-direction: column;
        margin-bottom: 0px;
        padding: 0px;
    }
    .aboutCardContainer{
        height: 120vh;
        padding: 0px;
        width: 100%;
    }

    .mainContainerContact{
        flex-direction: column;
        margin-bottom: 0px;
        padding: 0px;
    }

    .sectionContact{
        height: 50vh;
        padding: 0px;
        width: 100%;
    }

    iframe{
        max-width: 300px;
        margin-bottom: 1em;
    }

    .front-end, .back-end, .others{
        margin-left: 1em;
        margin-right: 1em;
    }

    .card{
        margin-bottom: 3em;
    }

    .containerAccomplishments{
        margin-bottom: 450vh;
    }
}